<div class="container ab">
  <div class="dropdown">
                <div class="row">
                        <div class="col-sm-12">
                                <div class="col-sm-4">
                                        <div [chart]="chartpieoptions"> </div>
                                </div>
                                <div class="col-sm-4">
                                        <div [chart]="chart"> </div>
                                </div>
                                <div class="col-sm-4">
                                        <div [chart]="chartbaroptions"> </div>
                                </div>
                        </div>

                
        </div>
</div>