<div class="container-fluid pg ab">
    <div class="row">
        <div class="col-md-4 card">
            <div class="col-md-12 wt" [routerLink]="['/Profibility']">
                <img src="../../assets/1.png" style="width: 100%;"></div>
            <div class="col-md-12">
                customer propability Sample
            </div>
        </div>
        <div class="col-md-4 card">
            <div class="col-md-12 wt" [routerLink]="['/Resources']">
                <img src="../../assets/2.png" style="width: 100%;"></div>
            <div class="col-md-12">
                Human resources Sample
            </div>
        </div>
        <div class="col-md-4 card">
            <div class="col-md-12 wt" [routerLink]="['/Itspend']">
                <img src="../../assets/3.png" style="width: 100%;">
            </div>
            <div class="col-md-12"> IT spend Analysis Sample </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-4 card ">
            <div class="col-md-12 wt" [routerLink]="['/Procurement']">
                <img src="../../assets/4.png" style="width: 100%;">
            </div>
            <div class="col-md-12">Procurement Analysis Sample</div>
        </div>
        <div class="col-md-4 card">
            <div class="col-md-12 wt" [routerLink]="['/Retail']">
                <img src="../../assets/5.png" style="width: 100%;">
            </div>
            <div class="col-md-12">
                Retail   Analysis Sample

            </div>
        </div>
        <div class="col-md-4 card">
            <div class="col-md-12 wt" [routerLink]="['/Sale']">
                <img src="../../assets/6.png" style="width: 100%;">
            </div>
            <div class="col-md-12"> 
                Sales and Marketing Sample
            </div>
        </div>
    </div>
</div>