<div class="container-fluid bk">
   
        <ul>
            <li> <a (click)="Profibility()">Profibility </a></li>
            <br>            <br>
            <li> <a (click)="Resources()">Resources</a></li>
            <br>            <br>
            <li> <a (click)="Itspend()">ITspend </a></li>
            <br>            <br>
            <li> <a (click)="Procurement()">Procurement </a></li>
            <br>            <br>
            <li> <a (click)="Retail()">Retail</a></li>
            <br>            <br>
            <li> <a (click)="Sale()">Sale </a></li>
        </ul>
</div>